ul {
    list-style: none;
}
li{
    text-decoration: none;
    color: black;
}
.topNavtop {
    background-color: black;
}
.topNavbottom{
    display: flex;
    justify-content: center;
    justify-content: space-between;
}
